<div class="header">
  <div class="avatar">
    <a href="<%- theme.avatar.path %>">
      <% if (config.lazyload && config.lazyload.enable) { %>
        <img no-lazy src="<%- theme.avatar.author_photo %>" alt="">
      <% } else { %>
        <img src="<%- theme.avatar.author_photo %>" alt="">
      <% } %>
    </a>
    <div class="nickname"><a href="<%- theme.avatar.path %>"><%- theme.avatar.author_nickname %></a></div>
  </div>
  <div class="navbar">
    <ul>
      <%
        for(let item of theme.navbar) {
          if (item.enable) {
            let activeOrNot = "";
            // We have to check if it is a page (like Info) or a rendered (like / or /archives)
            if ("title" in page) {
              if (item.name == page.title) {
                activeOrNot = " active";
              }
            } else if ("base" in page) {
              if (page.base.replace(/\//g, "") == item.path.replace(/\//g, "")) {
                activeOrNot = " active";
              }
            }
      %>
        <li class="nav-item<%- activeOrNot%>" data-path="<%- item.path %>">
          <a href="<%- item.path %>"><%- item.name %></a>
        </li>
      <%
          }
        }
      %>
    </ul>
  </div>
</div>