<div class="container archives">
  <div class="post-list">
    <%
      var prev = -10086;// prev year
      var curr;// curr year, ever step be updated

      site.posts.sort('date', -1).each(function(item, index) {
        curr = item.date.year()
        if (curr !== prev) {
          prev = curr;
      %>
        <div class="content-title">
          <h2>
            <span><%- curr %></span>
          </h2>
        </div>
      <%
        }
      %>
      <div class="post-item" title="<%- item.title %>">
        <div class="time-m-d"><%- item.date.format("MM-DD") %></div>
        <div class="title">
          <a href="<%- url_for(item.path) %>">
            <span><%- item.title %></span>
          </a>
        </div>
      </div>
    <%
      });
    %>
  </div>
</div>
