<!DOCTYPE html>
<html lang="<%= config.language %>">

  <%- partial('_partial/header') %>

  <body>
    <div id="app">
      <%- partial('_partial/navigation') %>

      <div class="flex-container">
        <%- body %>
        <%- partial('_partial/footer') %>
      </div>

      <%- partial('_partial/backtotop') %>

    </div>
  </body>
</html>
