@font-face {
    font-family: 'OxaniumBold';
        src: url('/oxaniumfont/Oxanium-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'OxaniumExtraBold';
        src: url('/oxaniumfont/Oxanium-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'OxaniumExtraLight';
        src: url('/oxaniumfont/Oxanium-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'OxaniumLight';
        src: url('/oxaniumfont/Oxanium-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'OxaniumMedium';
        src: url('/oxaniumfont/Oxanium-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'OxaniumRegular';
        src: url('/oxaniumfont/Oxanium-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'OxaniumSemiBold';
        src: url('/oxaniumfont/Oxanium-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }
